<div class="row well myred" >
<div class="dual-list list-left col-md-5">
Available {{ title1}}
<div class="well text-left">
<div class="row  autocomplete-container">
<div class="col-md-10 autocomplete-filter-section ">
<!--<input type="text" [(ngModel)]=filterKey (keyup)=filterTasks() name="SearchDualList" class="form-control" placeholder="search" />-->
<input type="text" name="SearchDualList" class="form-control" placeholder="search" />
</div>
<div class="col-md-2">
<div class="btn-group suggestions">
<a class="btn btn-default selector" title="select all" (click)="addAllItemsToSelected()"><i class="glyphicon glyphicon-unchecked"></i></a>
</div>
</div>
</div>
<div [hidden]="isproject" >
<ul class="list-group list-group-flush" style="overflow-y: scroll; max-height: 300px">
<li  class="list-group-item" *ngFor="let row of filteredItems" (click)="addToSelectedItems(row)">{{row.tsdId}}-{{row.tsdNam}}</li>
</ul>
</div>
<div [hidden]="!isproject" >
<ul class="list-group list-group-flush" style="overflow-y: scroll; max-height: 300px">
<li  class="list-group-item" *ngFor="let row of filteredItems" (click)="addToSelectedItems(row)">{{row.projNo}}-{{row.projTaskNam}}</li>
</ul>
</div>

</div>
</div>
<div class="list-arrows col-md-1 text-center">
<button class="btn btn-default btn-sm move-right" (click)="moveToAssignedItems()">
<span class="glyphicon glyphicon-chevron-right"></span>
</button>

<button class="btn btn-default btn-sm move-left" (click)="moveToAvailableItems ()">
<span class="glyphicon glyphicon-chevron-left"></span>
</button>

</div>
<div class="dual-list list-right col-md-5">
Selected {{ title1}}
<div class="well">
<div class="row">
<div class="col-md-2">
<div class="btn-group">
<a class="btn btn-default selector" title="select all" (click)="addAllItemsToSelectedAssignedItems()"><i class="glyphicon glyphicon-unchecked"></i></a>
</div>
</div>
<div class="col-md-10">
<input type="text" name="SearchDualList" class="form-control" placeholder="search" />
</div>
</div>
<ul class="list-group list-group-flush" style="overflow-y: scroll; max-height: 300px">
<li class="list-group-item" *ngFor="let row of assignedItems" (click)="addToSelectedAssignedItems(row)">{{row.tsdId}}-{{row.tsdNam}}</li>
</ul>
</div>
</div>
</div>

