<div class="col-sm-12    "  >
  <app-navheader  [titlepage]="pagetitle" [subtitlepage]="subpagetitle"></app-navheader>
</div>
<div class="col-sm-12    "  > <p>  &nbsp;&nbsp;&nbsp; </p><p>&nbsp;&nbsp;&nbsp;</p></div>

<div class="col-sm-12 boxitem boxborder  "  >
  <h3>  Task Status with Rollups</h3>
  <ag-grid-angular style="width: 1260px; height: 450px;" class="ag-fresh"
                   [gridOptions]="statusgridOptions">
  </ag-grid-angular>
  <!--<ag-grid-angular style="width: 900px; height: 350px;" class="ag-fresh"-->
  <!--[gridOptions]="gridOptions">-->
  <!--</ag-grid-angular>-->

</div>
